function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 2048
pop static 2
push static 1
push static 0
add
push constant 14336
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 1
add
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push argument 0
push constant 0
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push constant 1
add
pop argument 0
push static 1
pop local 2
push static 1
push static 0
add
pop pointer 1
push that 0
pop local 1
label WHILE_EXP0
push local 1
push argument 0
push constant 2
add
lt
push local 2
push constant 0
gt
and
not
if-goto WHILE_END0
push local 2
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 2
push local 2
push static 0
add
pop pointer 1
push that 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 2
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push static 0
add
push local 2
push static 0
add
pop pointer 1
push that 0
push argument 0
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push local 1
add
push argument 0
sub
pop local 0
push local 0
push static 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 0
return
goto IF_END1
label IF_FALSE1
push constant 1
call Sys.error 1
pop temp 0
push constant 1
neg
return
label IF_END1
function Memory.deAlloc 9
push constant 0
pop local 6
push argument 0
push constant 1
sub
pop local 4
push local 4
push static 0
add
pop pointer 1
push that 0
pop local 5
push static 1
pop local 1
push static 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push local 0
add
pop local 2
push static 1
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 3
label WHILE_EXP0
push local 1
push constant 0
gt
push local 6
push constant 0
eq
and
not
if-goto WHILE_END0
push local 2
push local 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 5
add
pop local 7
push local 1
push static 0
add
push local 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
pop local 6
goto IF_END0
label IF_FALSE0
push local 2
push local 4
lt
push local 4
push local 3
lt
push local 3
push constant 0
eq
or
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push constant 1
add
push static 0
add
push local 1
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
push static 0
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
pop local 6
push local 5
pop local 7
goto IF_END1
label IF_FALSE1
push local 1
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 1
push local 0
add
pop local 2
push local 1
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 3
label IF_END1
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push local 6
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
call Sys.error 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
goto IF_END2
label IF_FALSE2
push local 6
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop local 8
push local 6
push local 7
add
push local 8
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 6
push static 0
add
push local 7
push local 8
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 6
push constant 1
add
push static 0
add
push local 8
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE3
label IF_END2
push constant 0
return
